{
    "bbs": [
        "your cookie"
    ],
    "cloud": [
        {
            "x-rpc-combo_token": "your token",
            "x-rpc-client_type": "2",
            "x-rpc-app_version": "2.4.0",
            "x-rpc-sys_version": "12",
            "x-rpc-channel": "mihoyo",
            "x-rpc-device_id": "",
            "x-rpc-device_name": "",
            "x-rpc-device_model": "",
            "x-rpc-app_id": "",
            "Referer": "https://app.mihoyo.com",
            "Host": "api-cloudgame.mihoyo.com",
            "Connection": "Keep-Alive",
            "Accept-Encoding": "gzip",
            "User-Agent": "okhttp/4.9.0"
        }
    ],
    "notify": [
        {
            "type": "telegram",
            "params": {
                "token": "your token",
                "userid": "your userid"
            }
        }
    ]
}